*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /* border: 1px solid black; */
}

:root{
    --wrong-color: rgb(177, 0, 0);
    --correct-color: rgb(7, 156, 7);
}

header{
    display:flex;
    justify-content: space-between;
    padding: 5px;
}

main{
    display: flex;
    justify-content: center;

}

h1{
    font-size: 50px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button-grid{
    display:none;
    flex-direction: column;
}

.button{
    background-color: rgb(66, 66, 231);
    color:aliceblue;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(51, 51, 172);
}

.controls{
    display: flex;
    flex-direction: column;
}